@model IEnumerable<TuraliWeb.Models.Products>
@{
    ViewBag.Title = "AllProductsList";
}
<style>
    :root {
        --color-one: #e6e6ff;
        --color-two: #1a1aff;
        --color-three: #b3b3ff;
    }
    .card {
        border: 1px solid var(--color-three);
        margin-bottom: 20px;
        transition: border 0.1s, transform 0.3s;
    }

        .card:hover {
            border: 1px solid var(--color-two);
            -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
            cursor: pointer;
        }

        .card .card-body h2 {
            color: var(--color-two);
        }

        .card img:hover {
            opacity: 0.6;
        }

    .card-p {
        color: var(--color-three);
    }

        .card-p i {
            color: var(--color-two);
            margin-right: 8px;
        }
    
        
</style>
<h1  class="text-center font-weight-bold ">Tüm Ürünler Listesi</h1>
<hr />
<div class="container  my-5">
    <div class="col-md-12">
        <div class="row  ">
            @foreach (var item in Model)
            {

                <div class="col-sm-6  col-md-4 ">
                    <div class="card shadow" >
                        <img src="~/Image/Categories/SubCategories/SubSubCategories/Products/@item.Image" class="card-img-top" alt="..." style="max-height:10rem; max-width:100rem;">
                        <div class="card-body">
                            <h2 class="card-title">@item.Name</h2>
                            <p class="card-text">@item.Description</p>
                        </div>
                        <div class="card-body card-p">
                            <div class="row">
                                <div class="col col-xs-4 ">
                                    <i class="fas fa-lira-sign"></i> @item.Price
                                </div>
                                <a href="/Home/ProductDetail/@item.Id" class="btn btn-primary btn-sm" style="color:aliceblue;">Detaylar...</a>
                            </div>
                        </div>
                    </div>
                </div>

            }

        </div>
    </div>
</div>

