@model IEnumerable<TuraliWeb.Models.Products>
@{
    ViewBag.Title = "Products";
}

<h2>Products</h2>

<div class="col-md-12">



    <div class="row">

        @foreach (var item in Model)
        {
            <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="thumbnail">

                    <img src="~/Image/Categories/SubCategories/SubSubCategories/Products/@item.Image" />
                    <div class="caption">
                        
                        <h4>

                            <a id="@item.Id" href="/Home/ProductDetail/@item.Id">@item.Name</a>
                        </h4>
                        <p>@item.Description<a target="_blank" href="http://www.bootsnipp.com">Bootsnipp - http://bootsnipp.com</a>.</p>
                    </div>
                    <div class="ratings">
                        <p>  @item.Price TL </p>
                    </div>
                </div>
            </div>
        }





    </div>

</div>

