@model IEnumerable<TuraliWeb.Models.SubCategory>
@{
    ViewBag.Title = "SubCategoriList";
}

<h2>SubCategoriList</h2>
<div class="col-md-12">



    <div class="row">

        @foreach (var item in Model)
        {
            <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="thumbnail">

                    <img src="~/Image/Categories/SubCategories/@item.Image" />
                    <div class="caption">
                        <h4 class="pull-right">19.33</h4>
                        <h4>

                            <a href="SubSubCategoriList/@item.Id">@item.Name</a>
                        </h4>
                        <p>@item.Description <a target="_blank" href="http://www.bootsnipp.com">Bootsnipp - http://bootsnipp.com</a>.</p>
                    </div>
                    <div class="ratings">
                        <p> Bu Kategoride listelenen @item.SubSubCategories.Count ürün var.</p>

                    </div>
                </div>
            </div>
        }





    </div>

</div>


